@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canvas: #F1F4F9;
}

body {
  background-color: var(--canvas);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
